@media screen and (max-width: 1085px) {
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-section,
  .right-section {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 972px) {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .left-section .social-skills {
    width: 25rem;
  }
}

@media screen and (max-width: 485px) {
  .left-section .personal-information,
  .left-section .work-experiance,
  .left-section .languages,
  .left-section .social-skills,
  .right-section .education,
  .right-section .additional-training,
  .right-section .favorite {
    width: 20rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 370px) {
    .left-section .personal-information,
  .left-section .work-experiance,
  .left-section .languages,
  .left-section .social-skills,
  .right-section .education,
  .right-section .additional-training,
  .right-section .favorite {
    width: 15rem;
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.8rem;
  }
}
